<div class="center jumbotron">
<% if logged_in? %>
  <h2>Welcome back, <%= first_name(current_user) || "Visitante" %>!</h2>
  <% else %>
    <h1>Welcome to the Mini CMS</h1>
    <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "or Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
  <% end %>
</div>

